<main class="index">
    <header class="masthead d-flex mt-5">
        <div class="container text-center my-auto mt-3">
            <h1 class="md-1">Favorite Links</h1>
            <h3 class="mb-5"><em>Store your Favorite Links</em></h3>
            <a href="/signin" class="btn btn-primary">Let's get Started</a>
        </div>
    </header>
</main>