body{
    background:#f5f6f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden; /*colocar flotando al centro de la aplicacion*/
}

.index{
    width: 100%;
    height: 100%;
}

.masthead{
    color: white;
    min-height: 30rem;
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;
    background: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
