<div class="container p-4 mt-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIp</h3>
                </div>
                <div class="card-body shadow">
                    <img src="/img/logo.png" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circles w-50">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="email" name="username" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button class="rounded shadow btn btn-success btn-block">
                                SignIp
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>